# Copy this file to secrets/secrets.yaml.work and fill in your values
# Then run: ./encrypt.sh to encrypt it for SOPS
# The resulting encrypted file (secrets.yaml) should be committed to the repo
# It is safe to share as it can only be decrypted with the private key

user:
    # Make with "mkpasswd -m SHA-512"
    hashedPassword: "$6$xZRHOtzk50q9iwlh..."

services:
    nextcloud:
        adminpass: "your_secure_password_here"